<div class="container my-3">

  <div class="flex justify-between items-center">
    <div class="d-flex align-items-center">
      <h1 class="h4 mb-0">
        <i class="bi bi-journal-text blog-icon me-2" aria-hidden="true"></i>
        Libro de visita de usuarios
      </h1>
    </div>
  
    <div class="d-flex align-items-center mt-2 mt-md-0">
      <a
        class="btn btn-outline-secondary btn-sm me-3 d-none d-md-inline-flex align-items-center"
        routerLink="/visitas/dashboard"
        title="dashboard"
      >
        <i class="bi bi-gear-fill me-2" aria-hidden="true"></i>
        Dashboard
      </a>
      <a
        class="btn btn-outline-secondary btn-sm d-inline-flex d-md-none align-items-center"
        routerLink="/visitas/dashboard"
        title="dashboard"
      >
      </a>
    </div>
  </div>

  <div class="row g-4">
    @for (visita of oPage?.content; track visita.id ) {
      <app-registro-card [oVisita]="visita"> </app-registro-card>
    }
  </div>

  <app-paginacion
    [numPage]="numPage"
    [numPages]="oPage?.totalPages || 1"
    (pageChange)="goToPage($event)"
  >
  </app-paginacion>
</div>
