<!-- crear la tabla con oBlog -->
<div class="container my-4 edit-form">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-card">
        <h1 class="my-5">Detalle de post</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="row">{{ oBlog?.id }}</th>
            </tr>
            <tr>
              <th scope="col">Título</th>
              <td>{{ oBlog?.titulo }}</td>
            </tr>
            <tr>
              <th scope="col" class="align-middle">Contenido</th>
              <td>{{ oBlog?.contenido }}</td>
            </tr>
            <tr>
              <th scope="col">Etiquetas</th>
              <td>{{ oBlog?.etiquetas }}</td>
            </tr>
            <tr>
              <th scope="col">Creación</th>
              <td>{{ oBlog?.fechaCreacion }}</td>
            </tr>
            <tr>
              <th scope="col">Actualización</th>
              <td>{{ oBlog?.fechaModificacion }}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
