<div class="front-view-post d-flex flex-column flex-md-row align-items-start container-view border rounded p-4 shadow-sm mb-3">
  <div class="content flex-fill">
    @if(oQuestion?.publicado){
      <div class="d-flex justify-content-end">
        <p class="admin-message text-muted mb-2">Mensaje Administrador: Pregunta no publicada</p>
      </div>
      }
    <div class="d-flex justify-content-between align-items-start mb-2">
      <h1 class="h5 mb-0">{{ oQuestion?.question }}</h1>
      <div>
        @if (oQuestion?.tema === 'backend') {
          <span class="badge bg-warning text-dark">Backend</span>
        } @else if (oQuestion?.tema === 'frontend') {
          <span class="badge bg-info text-dark">Frontend</span>
        } @else if (oQuestion?.tema === 'vocabulario') {
          <span class="badge bg-secondary">Vocabulario</span>
        }
      </div>
    </div>
    <div class="mb-2">
      <p class="excerpt mb-1">1. {{ oQuestion?.answer1 ?? '' | trim : 150 }}</p>
      <p class="excerpt mb-1">2. {{ oQuestion?.answer2 ?? '' | trim : 150 }}</p>
      <p class="excerpt mb-1">3. {{ oQuestion?.answer3 ?? '' | trim : 150 }}</p>
      <p class="excerpt mb-0">4. {{ oQuestion?.answer4 ?? '' | trim : 150 }}</p>
    </div>
    <div class="excerpt d-flex justify-content-between align-items-center mt-2">
      <a [routerLink]="['/alcanyiz/question', oQuestion?.id]" class="btn btn-primary btn-sm" role="button">Leer</a>
      <small class="me-3 date-publi text-muted">
          Publicado el {{ oQuestion?.create_date | datetime : 'solofechacompleta' }}
          a las {{ oQuestion?.modify_date | datetime : 'solohora' }}
        </small>
    </div>
  </div>
</div>
