<div class="front-view-post d-flex flex-column flex-md-row align-items-start">
  <div class="thumb me-3" aria-hidden>
    <i [class]="iconClass" aria-hidden="true"></i>
  </div>
  <div class="content flex-fill">
    <h1 class="title">{{ oCalinescu?.nombre }}</h1>
    <p class="excerpt">{{ oCalinescu?.contenido ?? '' | trim : 150 }}</p>
    <div class="excerpt">
      <a [routerLink]="['/calinescu/item', oCalinescu?.id]" class="btn btn-sm btn-outline-primary">Ver detalle</a>
    </div>
    <div class="d-flex justify-content-end">
      @if (oCalinescu?.fecha_compra_esperada) {
      <small class="text-muted me-3">
        <i class="bi bi-cart-check"></i>
        Compra esperada: {{ oCalinescu?.fecha_compra_esperada | datetime : 'solofechacompleta' }}
        a las {{ oCalinescu?.fecha_compra_esperada | datetime : 'solohora' }}
      </small>
      }
    </div>
    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">
        Creado el {{ oCalinescu?.fecha_creacion | datetime : 'solofechacompleta' }}
        a las {{ oCalinescu?.fecha_creacion | datetime : 'solohora' }}
      </small>
    </div>
    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">
        @if (oCalinescu?.publicado) {
          <i class="bi bi-check-circle-fill text-success"></i> Publicado
        } @else {
          <i class="bi bi-x-circle-fill text-danger"></i> No publicado
        }
      </small>
    </div>
  </div>
</div>
